@import url('./valCSS.reset.css');

@font-face {
font-family:'Poppins',sans-serif;
src:url(./poppins/Poppins-Regular.ttf)
}

html, body {
  overflow-x:hidden;
  height:100%;
  width:100%;
  scroll-behavior:smooth;
  font-family:'Poppins',Verdana,sans-serif;
  font-size:15px;
}


/* BODY TEMPLATE */

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
}

/* NAV y FOOTER siempre 100% */
header {
  grid-area: header;
  padding: 1rem;
}

nav {
  grid-area: nav;
  padding: 1rem;
}

footer {
  grid-area: footer;
  padding: 1rem;
}

/* MAIN y ASIDE (modo 1 columna) */
main {
  grid-area: main;
  padding: 1rem;
}

aside {
  display: none; /* Por defecto no aparece */
}

/* Cuando exista ASIDE → activar layout 2 columnas */
body:has(aside) {
  grid-template-columns: 2fr 1fr; /* main + aside */
  grid-template-areas:
    "header header"
    "nav nav"
    "main aside"
    "footer footer";
}

/* Mostrar el aside cuando existe */
body:has(aside) aside {
  display: block;
  padding: 1rem;
}



/* NAVBAR */

nav#navbar {
  background: rgba(0,0,0,0.9);
  position: sticky; /*A diferencia del fixed, sticky si ocupa espacio, debe estar acompañado por top*/
  top:0;
  z-index: 10;
  padding-bottom: 10px;
}

nav#navbar > ul {
  list-style-type: none;
  display: none;
}

nav#navbar > a, nav#navbar > ul > li > a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

nav#navbar > ul > li > a {
  text-align: center;
}

nav#navbar > a {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}

nav#navbar > label {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

#chkToggle {
  display: none;
}

nav#navbar > ul {
  list-style-type: none;
  /* NUEVO: flex para centrar en móvil */
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 15px 0px;
}

nav#navbar > input:checked + ul {
  display: flex;
}

@media (width >= 768px) {
  nav#navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  nav#navbar > input:checked + ul {
    display: flex;
  }

  nav#navbar > ul {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  nav#navbar > ul > li {
    margin: 0;
  }

  nav#navbar > ul > li > a {
    margin-left: 40px;
  }

  nav#navbar > a {
    margin-top: 0;
  }

  nav#navbar > label {
    display: none;
  }

  nav#navbar > a:hover,
  nav#navbar > ul > li > a:hover {
    color: rgba(255, 255, 255, 1);
  }
}